<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation & Responsive Design Basics</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&family=Alegreya+Sans:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29ffacc206.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <div class="nav-wrapper">
      <!-- wrapping the hamburger icon within the menu-wrapper helps us adjust
      the target size without having to change the size of the icon -->
      <div id="menu-wrapper">
         <i class="fa-solid fa-bars"></i>
      </div>
      <nav class="nav-panel">
        <ul>
          <li> Menu 1</li>
          <li> Menu 2</li>
          <li> Menu 3</li>
          <li> Menu 4</li>
          <li> Menu 5</li>
        </ul>
      </nav>
    </div>

    <section id="box-wrapper" >
      <div id="box1" class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </section>
  </main>
<script src="./assets/js/interaction.js" type="application/javascript"></script>
</body>
</html>